@model cahoot.Models.ViewModels.ContactModel
@{
    ViewBag.Title = @cahoot.Code.Constants.TeamName + " - " + "Kontakt";
}

<h2>Kontakta oss</h2>

<h3>Adress</h3>
<p>
Bk Cahoot
<br />Box 93
<br />391 21 Kalmar
</p>
<p>
E-post: <a href="mailto:info@cahoot.se">info@cahoot.se</a>
<br />
Ordförande: <a href="mailto:mats-tjommen@telia.com">mats-tjommen@telia.com</a>
<br />
Kassör: <a href="mailto:staffan.mattsson@cahoot.se">staffan.mattsson@cahoot.se</a>
</p>

<h3>Kontouppgifter</h3>
<p>
Bankgiro : 5527-3072
<br />Plusgiro: 643726-3
<br />Tävlingskonto: 413089-4
</p>