@model cahoot.Models.ViewModels.MemberModel

@{
    ViewBag.Title = @cahoot.Code.Constants.TeamName + " - " + "Ändra medlemsinfo";
}

    <h2>Ändra medlem</h2>
    @Html.Partial("MemberEditForm", Model)






