@{
    ViewBag.Title = @cahoot.Code.Constants.TeamName + " - " + "Medlemsinformation";
}

<h2>Du är registrerad på cahoot.se</h2>

<p>När du blivit godkänd av administratören får du ett e-postmeddelande innehållande användarnamn och lösenord.</p>

<p>
    @Html.ActionLink("Tillbaka till medlemslistan", "Index")
</p>

