@{
    ViewBag.Title = @cahoot.Code.Constants.TeamName + " - " + "Radera post";
}

<h2>Något gick fel</h2>
<p>Något gick fel när posten skulle raderas. Var god försök igen.</p>
<p>
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>

