@model cahoot.Models.ViewModels.ViewModelBase
           
<ul class="swebowlrss">
    @foreach (var item in Model.SwebowlRss)
    {
        <li>
        <span>@item.PublishDate.ToString("yyyy-MM-dd HH:mm")</span>
        <h4><a class="popup" href="@item.Links[0].Uri">@item.Title.Text</a></h4>
        <p>@Html.Raw(item.Summary.Text)</p>
        </li>
    }
</ul>
